*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f3f3f3 !important;
    font-family:'Segoe UI';
    position: relative;
}
a{
    text-decoration: none;
}
a:hover
{
    text-decoration: none;  
}
.container{
    width: 90%;
    max-width: 800px;
    margin: auto;
    font-family:'Segoe UI';
    font-size: 20px;
}

/*-------------
    Header
--------------*/

header{
    padding: 40px 0;
}

header .logo{
    text-align: center;

}

header .logo p{
    color: #007bff;
    padding-top: 20px;
}

header form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

header .search-bar{
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: rgb(255, 255, 255);
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
    font-family:'Segoe UI';
    border: 0px solid black;
}

header .category{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -0;
}

header .category a{
    color: #9b9b9b;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}

header .category a.active{
    color : #000;
}

.title{
    background-color: #f3f3f3 !important;
    color : #007bff;
}

/*-------------
    Grid
--------------*/

.grid{
    position: relative;
    width: 100%;
    opacity: 0;
    
    transition: opacity 0.5s linear 1s;
}

.grid.charge-image{
    opacity: 1;
}

.grid .item{
    position: absolute;
    display: block;
    padding: 0;
    margin: 3% 0% 0% 3%;
    width: calc(32.33333% - 20px);

}

.best
{
    text-align: center;
    padding-bottom: 15px;
}

.BestPC
{
    padding-left: 20px;
}

.BestPhone
{
    padding-left: 20px;
}

.grid .item p{

    text-align: center;
    margin-top: 1px;
    font-size: 25px;
}

.grid .item-content{
    position: relative;

}

.grid .item img{
    width: 100%;
    vertical-align: top;
}

/*-------------
    Overlay
--------------*/

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay.active{
    display: flex;
}

.overlay img{
    max-width: 100%;
}

.overlay .description{
    display: block;
    background: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
    max-width: 50%;
}

.container-img{
    position: relative;
}

.overlay #btn-closed-popup{
    font-size: 20px;
    color : #fff;
    position: absolute;
    right: 22%;
    top: 6%;
}

img , video , iframe{
    border-radius: 10px;  
}

/*-------------
    Footer
--------------*/

.top .social-networks{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.top .social-networks a{
    display: block;
    width: 60px;
    height: 60px;
    color: #fff;
    margin: 20px;
    text-align: center;
    border-radius: 100px;
    transition: .3s ease all;

}

.top .container-icon:hover a{
    animation: icon .5s ease;
}

@keyframes icon {
    from{
        transform: rotate3d(0,0,0,0);
    }
    to{
        transform: rotate3d(0,1,0,360deg);
    }
}

.resume{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.overlay .info{
    display: none;
    
}

.overlay .info.active{
    display: flex;
    
}

.email{
    text-decoration: underline;

}

.nes-dialog{
    text-align: center;
    margin-top: 20%;
    align-content: center !important;
    justify-content: center !important;

    margin-left:40.33% ;
    margin-right:40.33% ;
}

footer .create-for{
    margin-bottom: 40px;
    text-align: center;
    font-size: 14px;
    margin-top: 50PX;
    color: #007bff;

}

footer .create-for a {
    color: #0000;
}

footer .create-for a:hover{
    text-decoration: underline;
}

.BestPC
{
    margin-top: -145px;
}

/*-------------
    Mediaqueries
--------------*/

@media screen and (max-width:5000px) {
    .BestPhone{
        visibility: hidden;
    }
    
    
    .BestPC{
        visibility: visible;
    }
}

@media screen and (max-width:1300px) {

    .nes-dialog{

        margin-top: 40%;
    
        width: 30%;
        height: 30%;
        margin-left:30% ;
        margin-right: 35%;
    }

    
    .BestPhone{
        visibility: visible;
    }
    
    
    .BestPC{
        visibility: visible;
    }
    
}

@media screen and (max-width:900px) {

    .nes-dialog{

        margin-top: 40%;
    
        width: 30%;
        height: 30%;
        margin-left:30% ;
        margin-right: 35%;
    }

    
    .BestPhone{
        visibility: visible;
    }
    
    
    .BestPC{
        visibility: visible;
    }
    
}


@media screen and (max-width:700px) {
    .grid .item{
        width: calc(50% - 20px);
    }

    header .search-bar{
        width: 100%;
    }

    .nes-dialog{

        margin-top: 50%;
    
        width: 40%;
        height: 30%;
        margin-left:30% ;
        margin-right: 35%;
    }

    .BestPhone{
        visibility: visible;
    }
    
    
    .BestPC{
        visibility: hidden;
    }
}

/*--------------------
    Portfolio Detail
----------------------*/

.title-portfolio{
    text-align: center;
    font-size: 29px;
}

.info-portfolio{
    margin-top: 30px;
    font-size: 17px;
    display: flex;
    flex: 1;
    flex-direction:stretch;
    font-family:'Segoe UI';
    
}

.info-portfolio .info-p{
    text-align: left;
    width: 100%;
    
}

.info-portfolio .info-p i  {
    left:65%;
    margin-bottom: 20px;
}

.info-portfolio .category{
    font-size: 17px;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    text-align: inherit;
}

.info-portfolio .category span{
    font-weight: 800;
}

.video-portfolio
{
    margin-top: 50px;
    align-content: initial;
    display: flex;
    flex: 1;
    flex-direction:stretch;
}

.video-info h3
{
    font-size: 16px;
    margin-bottom: 30px;
    align-content: inherit;
    width: 90%;
}

.video-info span
{
    font-weight: 800;
}

.video-info
{
    font-size: 17px;
    align-content: inherit;
    width: 90%;
}

.music-info
{
    font-size: 17px;
    align-content: inherit;
    width: 90%;
    text-align: center;
   
}

.music-info span
{
    font-weight: 800;
    margin-left: 10%;
}

.music-info h3
{
    font-size: 16px;
    margin-bottom: 30px;
    align-content: inherit;
    width: 90%;
    text-align: center;
    margin-left: 10%;
    margin-top: 10px;
}

@media screen and (max-width:700px) {
    .title-portfolio{
        
        font-size: 20px;
    }
    video{
        height:30% !important;
    }
    
}

@media screen and (max-width:500px) {
    .info-portfolio{
        margin-top: 30px;
        font-size: 13px;
        display: flex;
        flex: 0;
        flex-direction:column;
    }
    .info-portfolio .category{
        margin-left: 0%;
    }
    .overlay .description{
        font-size: 10px;
    }
    
}

.category i{
    left: 58%;
}

.category iframe{
    margin-bottom: 50px;
}

.nes-dialog.desactive{
    display: none;
}

.category{
    font-size: 25px;
}

